{% extends "base.html.twig" %}

{% block title %}
    ARYHA paris | Panier
{% endblock %}
{% block body %}

    <h1 class="my-3 ms-5 hov">&nbsp;&nbsp;&nbsp;Bienvenue dans le panier</h1>
    <div class="container d-flex justify-content-between">
        <div class="" style="width: 70%;">
            <table class="table table-hover">
                <thead>
                    <tr class="hova">
                        <th class="text-center">Article</th>
                        <th class="text-center">Photo</th>
                        <th class="text-end">Prix</th>
                        <th class="text-end">Quantité</th>
                        <th class="text-end">Total</th>
                        <th class="text-end">Actions</th>        
                    </tr>
                </thead>
                <tbody>
                        {% for element in dataPanier %}
                            <tr>
                                <td class="text-center"><a href="{{ path('shop_show', {'id': element.article.id}) }}" class="hov link-secondary">{{ element.article.titre}}</a></td>
                                <td class="text-end"><a href="{{ path('shop_show', {'id': element.article.id}) }}"><img src="{{ asset('uploads/photos/' ~ element.article.photo ) }}" alt="" style="width: 100px; height: 100px;"></a></td>
                                <td class="text-end"> {{ element.article.prix}} €</td>
                                <td class="text-end"> {{ element.quantite}} </td>
                                <td class="text-end"> {{ element.article.prix * element.quantite}} €</td>
                                <td class="text-end">  
                                    <a href="{{ path('add_panier', {'id': element.article.id}) }}" class="btn btn-success"><i class="bi bi-cart-plus"></i></a>
                                    <a href="{{ path('remove_panier', {'id': element.article.id}) }}" class="btn btn-warning"><i class="bi bi-cart-dash"></i></a>
                                    <a href="{{ path('delete_panier', {'id': element.article.id}) }}" class="btn btn-danger"><i class="bi bi-cart-x"></i></a>                        
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5" class="text-center">Votre panier est vide</td>
                            </tr>
                        {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">Total</td>
                        <td></td>
                        <td class="text-end">{{ total }} €</td>
                        <td class="text-end">
                            Vider le panier <a href="{{ path('delete_all_panier') }}" class="btn btn-danger"><i class="bi bi-cart-x"></i></a>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        
        <div class="shadow-sm p-3 mb-5 bg-light rounded" style="width: 25%; height">
            <form action="" method="post">
            <h6 class="text-center">Choisissez votre mode de livraison</h6>
            <div class="list-group mx-0">
                <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="radio" name="livraison" id="listGroupRadios1" value="dom" checked="">
                <span>
                    Livraison à domicile
                    <small class="d-block text-muted">Supplément de 5 €</small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="radio" name="livraison" id="listGroupRadios2" value="rel">
                <span>
                    En Point Relais
                    <small class="d-block text-muted">Gratuit</small>
                </span>
                </label>
                <label class="list-group-item d-flex gap-2">
                <input class="form-check-input flex-shrink-0" type="radio" name="livraison" id="listGroupRadios3" value="lok">
                <span>
                    En Locker
                    <small class="d-block text-muted">Supplément de 2 €</small>
                </span>
                </label>
            </div>
        
            <input type="text"  class="form-control my-3" placeholder="Code Promo ?" name="codePromo">

            <div class="text-center">
                <a href="{{ path('commander') }}" type="submit" class="btn hova">Commander</a>
            </div>
        </form>

        </div>
    </div>
    <div class="w-50 mx-auto">
        
    </div>

{% endblock %}