{% extends "base.html.twig" %}

{% block title %}
    Shop | ARYHA paris
{% endblock %}
{% block body %}
{% set route_name = app.request.attributes.get('_route') %}
<div class="container-fluid d-flex">
    <div class="w-25 h-100">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
            {% if route_name == 'shop' %}  
                <li class="breadcrumb-item active" aria-current="page">Shop</li>
            {% endif %}
            {% if route_name == 'shop_category' %}  
                <li class="breadcrumb-item"><a href="{{ path('shop') }}">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ category.titre }}</li>
            {% endif %}

            
                
        </ol>
    </nav>
    {{ render(controller('App\\Controller\\ShopController::allCategory')) }}

    </div>

    <div class="w-50 h-100 container" id="top">
        <div class="row row-cols-1 row-cols-md-2 g-4 my-3">
            {% set i = 0 %}
            {% for data in articles %}
                {% set i = i + 1 %}
                {% if i in 0..10 %} 
                    <div class="col">
                        <div class="card h-100">
                        <a href="{{ path('shop_show', {'id': data.id}) }}"><img src="{{ asset('uploads/photos/' ~ data.photo) }}" class="card-img-top img-fluid" alt="..."></a>
                        
                        <div class="card-body">
                            <h5 class="card-title">{{data.titre}}</h5>
                            <div class="d-flex justify-content-between">
                            <p class="card-text">{{ data.description|slice(0,50)|striptags }}[...]</p>
                            <p class="text-muted">{{data.prix}}&nbsp;€</p>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
            <div class="card mx-auto">
                <div class="card-body">
                    <h5 class="card-title">Pas de produit disponible pour cette catégorie !</h5>
                    <div class="d-flex justify-content-between">
                    <a href="" class="btn hov">Retournez dans la boutique</a>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>        
        <a href="?top" class="btn btn-sm hova">Remontez en haut</a>
    </div>




    <div class="w-25 h-100"> 
        <div class="col-10 mx-auto order-md-last mt-5">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Votre Panier</span>
            </h4>
            <ul class="list-group mb-3">
            {% for element in dataPanier  %}
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                    <h6 class="my-0">{{element.article.titre}}</h6>
                    <small class="text-muted">Quantité : {{element.quantite}}</small>
                    </div>
                    <span class="text-muted">{{element.article.prix * element.quantite}} €</span>
                </li>
            {% else %}
                
            {% endfor %}
            <li class="list-group-item d-flex justify-content-between">
                <span>Total (euros €)</span>
                <strong>{{total}} €</strong>
            </li>
            </ul>
            <form method="post" class="card p-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Code Promo" name="codePromo">
                <button type="submit" class="btn btn-secondary">Utiliser</button>
            </div>
            </form>
        </div>
    </div>


</div>
    

{% endblock %}