{% extends "base_admin.html.twig" %}

{% block title %}
    Admin | Gestions des Category
{% endblock %}
{% block body %}

<h1 class="text-center my-5">Liste des Catégory</h1>

{% for message in app.flashes('success') %}
    <div class="col-6 mx-auto text-center alert alert-success">
        {{ message }}
    </div>        
{% endfor %}

    <div class="d-flex mx-auto justify-content-around my-4">
        <div class="text-center mx-auto"><a href="{{ path('app_admin_category') }}" class="btn bg-primary text-white"><i class="bi bi-bookmarks-fill"></i></a><p class="text-center">Toute les Category</p></div>
        <div class="text-center mx-auto"><a href="?op=cheveux" class="btn bg-primary text-white"><i class="bi bi-bookmark-x-fill"></i></a><p class="text-center">Category Cheveux</p></div>
        <div class="text-center mx-auto"><a href="?op=corps" class="btn bg-primary text-white"><i class="bi bi-bookmark-star-fill"></i></a><p class="text-center">Category Corps</p></div>
        <div class="text-center mx-auto"><a href="?op=kit" class="btn bg-primary text-white"><i class="bi bi-bookmark-heart-fill"></i></a><p class="text-center">Category Kit</p></div>

    </div>

<div class="container col-12">
    <table class="table table-striped mx-2 mb-5" id="table-backoffice-category">
        <thead>
            <tr class="entete-comments">
                <th class="text-center">Identifiant</th>
                <th class="text-center">Titre</th>
                <th class="text-center">Grande Category</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>        
            {% for data in cellules %} 
                {% if app.request.query.get('op') == 'cheveux' %}
                    {% if data.grdCat == "Cheveux" %}
                        <tr>
                            <td class="text-center"> {{ data.id }}</td>
                            <td class="text-center"> <a  href="" class="link-secondary">{{ data.titre}} </a></td>
                            <td class="text-center"> {{ data.grdCat }}</td>                    
                            <td>
                                <div class=" text-center">
                                    <a href="{{ path('app_admin_category_delete', {'id': data.id}) }}" class="btn btn-danger text-white me-1" onclick="return(confirm('Etes-vous sur de vouloir supprimer cet category : {{ data.id }} - {{ data.titre }}' ))"><i class="bi bi-trash"></i></a>
                                    <a href="{{ path('app_admin_category_update', {'id': data.id}) }}" class="btn btn-success text-white"><i class="bi bi-pencil-square"></i>
                                <div>
                            </td>
                        </tr> 
                    {% endif %}
                {% elseif app.request.query.get('op') == 'corps' %}
                    {% if data.grdCat == "Corps" %}
                        <tr>
                            <td class="text-center"> {{ data.id }}</td>
                            <td class="text-center"> <a  href="" class="link-secondary">{{ data.titre}} </a></td>
                            <td class="text-center"> {{ data.grdCat }}</td>                    
                            <td>
                                <div class=" text-center">
                                    <a href="{{ path('app_admin_category_delete', {'id': data.id}) }}" class="btn btn-danger text-white me-1" onclick="return(confirm('Etes-vous sur de vouloir supprimer cet category : {{ data.id }} - {{ data.titre }}' ))"><i class="bi bi-trash"></i></a>
                                    <a href="{{ path('app_admin_category_update', {'id': data.id}) }}" class="btn btn-success text-white"><i class="bi bi-pencil-square"></i>
                                <div>
                            </td>
                        </tr> 
                    {% endif %}
                {% elseif app.request.query.get('op') == 'kit' %}
                    {% if data.grdCat == "Kit" %}
                        <tr>
                            <td class="text-center"> {{ data.id }}</td>
                            <td class="text-center"> <a  href="" class="link-secondary">{{ data.titre}} </a></td>
                            <td class="text-center"> {{ data.grdCat }}</td>                    
                            <td>
                                <div class=" text-center">
                                    <a href="{{ path('app_admin_category_delete', {'id': data.id}) }}" class="btn btn-danger text-white me-1" onclick="return(confirm('Etes-vous sur de vouloir supprimer cet category : {{ data.id }} - {{ data.titre }}' ))"><i class="bi bi-trash"></i></a>
                                    <a href="{{ path('app_admin_category_update', {'id': data.id}) }}" class="btn btn-success text-white"><i class="bi bi-pencil-square"></i>
                                <div>
                            </td>
                        </tr> 
                    {% endif %}
                {% else %}
                    <tr>
                        <td class="text-center"> {{ data.id }}</td>
                        <td class="text-center"> <a  href="" class="link-secondary">{{ data.titre}} </a></td>
                        <td class="text-center"> {{ data.grdCat }}</td>                    
                        <td>
                            <div class=" text-center">
                                <a href="{{ path('app_admin_category_delete', {'id': data.id}) }}" class="btn btn-danger text-white me-1" onclick="return(confirm('Etes-vous sur de vouloir supprimer cet category : {{ data.id }} - {{ data.titre }}' ))"><i class="bi bi-trash"></i></a>
                                <a href="{{ path('app_admin_category_update', {'id': data.id}) }}" class="btn btn-success text-white"><i class="bi bi-pencil-square"></i>
                            <div>
                        </td>
                    </tr>      
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}